<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
    Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\vx.x\Config의 
     machine.config.comments에 있습니다. 
-->
<configuration>
  
  <configSections>
    <sectionGroup name="dextuploadpro">
      <section name="common" type="config" />
      <section name="fileupload" type="config" />
      <section name="filedownload" type="config" />
    </sectionGroup>
  </configSections>

  <dextuploadpro>
    <common authkey="TXmNtg0dpknWhZbEecKX6hoU9O5s/AT8GivGnuFRHqkM0XW2++CrjwOWxKV0ZmScI7v4dPm0Y/cnxq+wIKq7EE3617TxgoQSNZn6kzM1EJh0KIqno/c6eCTBEzj8sJ4l2d8oDXCIO0+HwsEjgIFCocMvohKZAx4ntO2+cgl26+usZj6qcHGAPQvGwpyJ166b/RV8lXqGi2rdTbrK2vwzXZVwQ2FNvbsYwMrVY0w8MZM=" />
    <fileupload defaultpath="E:\\Temp" codepage="65001" maxfilelen="2147483647" totallen="2147483647" automakefolder="true" checkmaxfilelen="true" largefileconfigpreservetimeout="172800" limitextension="kkk;aaa;" />
    
    <!--v4.1.1.0 버전 부터 다운로드 객체 초기화 지원, 설정하지 않더라도 filedownload 섹션이 정의 되어있어야 합니다.-->
    <filedownload customcontenttype="application/octet-stream" />
  </dextuploadpro>
  <connectionStrings />
  <system.web>
    <!-- 
            컴파일된 페이지에 디버깅 기호를 삽입하려면 
            compilation debug="true"로 설정하십시오. 이렇게 하면 
            성능에 영향을 주므로 개발하는 동안에만 
            이 값을 true로 설정하십시오.
        -->
    <compilation debug="true" />
    <!--
          <authentication> 섹션에서는 ASP.NET에서 사용되는 
          보안 인증 모드의 구성을 설정하여 들어오는 
          사용자를 식별할 수 있습니다. 
        -->
    <authentication mode="Windows" />
    <!--
           <customErrors> 섹션에서는 요청을 실행하는 동안 
           처리되지 않은 오류가 발생하는 경우 수행할 작업을 
           구성할 수 있습니다. 특히 이 
           섹션에서 개발자는 오류 스택 추적 대신 html 
           오류 페이지가 표시되도록 구성할 수 있습니다.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
  </system.web>
    <location path="" overrideMode="Deny">
    </location>
    <location path="" overrideMode="Allow">
  
  <appSettings />
    </location>
</configuration>